body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

.list-element{
  border: 1px solid lightblue;
  background-color: ivory;
  padding: 20px;
  margin: 5px;
}

.list-element__desc {
  font-style: italic;
}

.filter-wrapper {
  padding: 20px;
  text-align: center;
}

.row, .col{
  padding: 0;
  margin: 0;
}
